Modulo Contable/UI/Service References/ERPAsientos/ERPAsientos.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="ingresarNuevoAsiento">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pFechaDocumento" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ingresarNuevoAsientoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ingresarNuevoAsientoResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ingresarCuentasAsiento">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pIdAsiento" type="xs:int" />
        <xs:element minOccurs="0" name="pIdCuenta" type="xs:int" />
        <xs:element minOccurs="0" name="pMontoLocal" type="xs:decimal" />
        <xs:element minOccurs="0" name="pMontoSistema" type="xs:decimal" />
        <xs:element minOccurs="0" name="pDebeHaber" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ingresarCuentasAsientoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ingresarCuentasAsientoResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>